#title{
    background-color: #ff4c68;
}

body{
    
    font-family: 'Montserrat-Light', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}


.navbar{
   padding-bottom: 4.5rem;
}

.img-fluid{
    
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

.img-box{
    padding-left: 60px;
}

button{
    margin-right: 1rem;
    margin-top: 1rem;
}

#features{
    background-color: white;
    padding: 10% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}

#features i{
    color: #ef8172;
    font-size: 5rem;
    padding: 10px 10px;
}

#features i:hover{
    color: #ff4c68;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

#features p{
    color: #8f8f8f;
}



#testimonials{
    
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

h2{
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}

.press-logo{
    margin: 5px 20px;
    width: 15%;
}

.carousel-item{
    padding: 7% 15%;
}

#btn-1{
    width:5px;
    border-radius:100%;

}

#btn-2{
    width:5px;
    border-radius:100%;
}

.col{
    flex: 1 0 0%;
}

.btn-pricing-1{
    margin-top: 56px;
}

.btn-pricing-2{
    margin-top: 56px;
}

#pricing{
    padding:100px;
    text-align: center;
}

.pricing-col{
    padding: 4% 2%;
}

#cta{
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 7% 20%;
}

#cta h3{
    color: white;
    line-height: 2;
    font-size: 3rem;
}

.db{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 20%;
}

#footer p{
    color: #8f8f8f;
    padding-top: 10px;
    width: auto;
}

#footer a{
    color: black;
    padding: 2px 10px;
}




@media(max-width:1000px){

    .img-fluid{
        position: static;
        transform: rotate(0);
        padding-top: 10%;
        width: 60%;
    }

    #title{
        text-align: center;
    }

    .icon{
        width: 3rem;
    }
}